#tasks
  - if @tasks.any?
    = render 'tasks', :tasks => @tasks
    = render :partial => "no_tasks", :locals => { :hidden => true }
  - else
    = render :partial => "no_tasks", :locals => { :hidden => false }
